{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div>
        <h1>Listar Proyectos</h1>
        <a class="btn btn-primary mb-3" href="{% url 'projects.create' %}">Create new project</a>
        <table class="table-bordered">
          <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>
              <td>Description</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td>
                {{ project.id }}
              </td>
              <td>
                {{ project.name }}
              </td>
              <td>
                {{ project.description }}
              </td>
              <td>
                <div class="d-flex p-2">
                  <a class="btn btn-warning" style="margin-right: 5px;" href="{% url 'projects.edit' project.id %}">Edit</a>
                  <a class="btn btn-danger" style="margin-right: 5px;" href="{% url 'projects.delete' project.id %}">Delete</a>
                  <a class="btn btn-success" href="{% url 'projects.detail' project.id %}">Detail</a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}